<div class="container">
  <h3 class="text-danger">Personal Details</h3>
  <div class="row">
      <div class="col-md-4">
          <label>Firstname:</label>
          <input type="text" name="Firstname" id="Firstname"  class="form-control" [(ngModel)]="FirstName">
      </div>
      <div class="col-sm-4"> 
          <label>Lastname:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" name="Lastname" id="Lastname" class="form-control" [(ngModel)]="LastName">
      </div>
    </div> 
       <br>
       <div class="row">
      <div class="col-sm-4"> 
        <label>MartiualStatus:</label>
        <input type="text" name="MartiualStatus" id="MartiualStatus" class="form-control" [(ngModel)]="martiualstatus">
        </div>
        <div class="col-sm-4"> 
          <label>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" name="Email" id="Email" class="form-control" [(ngModel)]="email">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4"> 
        <label>Password:</label>
        <input type="text" name="Password" id="Password" class="form-control"[(ngModel)]="PassWord" >
        </div>
        <div class="col-sm-4"> 
          <label>PhoneNumber:</label>
          <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control"[(ngModel)]="phoneno">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4"> 
        <label>Landlineno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="Landlineno" id="Landlineno" class="form-control" [(ngModel)]="landlineno">
        </div>
        <div class="col-sm-4"> 
          <label>panno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" name="panno" id="panno" class="form-control" [(ngModel)]="PanNo">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4"> 
        <label>Adharno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="Adharno" id="Adharno" class="form-control" [(ngModel)]="adharno">
        </div>
        <div class="col-sm-4"> 
          <label>Bankno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" name="Bankno" id="Bankno" class="form-control"[(ngModel)]="bankno" >
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4"> 
        <label>BloodGroup:&nbsp;&nbsp;</label>
        <input type="text" name="BloodGroup" id="BloodGroup" class="form-control" [(ngModel)]="bloodGroup" >
        </div>
        <br>
    </div>
    <br>
  <h4 class="text-success">PermentAddress</h4>
  <div class="row">
    <div class="col-sm-4">
        <label>Per_Hno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="Per_Hno" id="Per_Hno" class="form-control" [(ngModel)]="bloodGroup" >
    </div>
    <div class="col-sm-4"> 
        <label>Per_Street:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="Per_Street" id="Per_Street" class="form-control" [(ngModel)]="Perstreet">
    </div>
  </div> 
     <br>
     <div class="row">
      <div class="col-sm-4">
          <label>per_city:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" name="per_city" id="per_city" class="form-control" [(ngModel)]="Percity">
      </div>
      <div class="col-sm-4"> 
          <label>Per_District:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="text" name="Per_District" id="Per_District" class="form-control" [(ngModel)]="Perdistrict">
      </div>
    </div> 
       <br>
       <div class="row">
        <div class="col-sm-4">
            <label>Per_state:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="Per_state" id="Per_state" class="form-control" [(ngModel)]="Perstate" >
        </div>
        <div class="col-sm-4"> 
            <label>Per_country:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="Per_country" id="Per_country" class="form-control" [(ngModel)]="Percountry" >
        </div>
      </div> 
         <br>
         <div class="row">
          <div class="col-sm-4">
              <label>Per_pincode:&nbsp;&nbsp;</label>
              <input type="text" name="Per_pincode" id="Per_pincode" class="form-control"  [(ngModel)]="Perpincode">
          </div>
          <div class="col-sm-4"> 
              <label>Per_landmark:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input type="text" name="Per_landmark" id="Per_landmark" class="form-control" [(ngModel)]="Perlandmark">
          </div>
        </div> 
           <br>
           <h4 class="text-info">TempararyAddress</h4>
           <div class="row">
             <div class="col-sm-4">
                 <label>Temp_Hno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                 <input type="text" name="Temp_Hno" id="Temp_Hno" class="form-control" [(ngModel)]="Temphno" >
             </div>
             <div class="col-sm-4"> 
                 <label>Temp_Street:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                 <input type="text" name="Temp_Street" id="Temp_Street" class="form-control" [(ngModel)]="Tempstreet" >
             </div>
             </div>
             <br>
             <div class="row">
              <div class="col-sm-4">
                  <label>Temp_District:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                  <input type="text" name="Temp_District" id="Temp_District" class="form-control" [(ngModel)]="Tempdistrict" >
              </div>
              <div class="col-sm-4"> 
                  <label>Temp_state:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                  <input type="text" name="Temp_state" id="Temp_state" class="form-control" [(ngModel)]="TempState">
              </div>
             </div>
              <br>
              <div class="row">
                <div class="col-sm-4">
                    <label>Temp_country:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" name="Temp_country" id="Temp_country" class="form-control" [(ngModel)]="TempCountry">
                </div>
                <div class="col-sm-4"> 
                    <label>Temp_pincode:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" name="Temp_pincode" id="Temp_pincode" class="form-control" [(ngModel)]="TempPincode">
                </div>
               </div>
               <br>
               <div class="col-sm-4"> 
              <label>Temp_landmark:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              <input type="text" name="Temp_landmark" id="Temp_landmark" class="form-control"   [(ngModel)]="TempLandmark">
                </div>
               
               <br>
               <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
               <!--<input type="text" value="" ng-model="placeId" />
               <button (click)="Test()"class="btn btn-success" >Test</button>-->
               <br>
               <button type="Test" class="btn btn-success" (click)="onRegisterclick()">Test</button>
               <!--<input type="submit" value="Register" (click)="onRegisterclick(myform)"></br>-->
               <div [innerHTML]="msg">
              
               
           </div>
